<div class="detail-model">
  <div class="clear"><h5>{{title}}</h5><span class="long">{{long}} min</span></div>
  <p>{{transname}}</p>
  <div class="summary">{{summary}}</div>
  <p>导演：{{doctor}}</p>
  <p>主演：{{actor}}</p>
  <div class="comment">
    <i class="iconfont icon-star {{#of star "1,2,3,4,5"}}active{{/of}}"></i>
    <i class="iconfont icon-star {{#of star "2,3,4,5"}}active{{/of}}"></i>
    <i class="iconfont icon-star {{#of star "3,4,5"}}active{{/of}}"></i>
    <i class="iconfont icon-star {{#of star "4,5"}}active{{/of}}"></i>
    <i class="iconfont icon-star {{#of star "5"}}active{{/of}}"></i>
    <span class="comment-number">0<i class="iconfont icon-comment"></i></span>
  </div>
  <div class="recommend"><span>Recommended by: </span><img src="http://www.jsann.com/images/gravatar/jsann.jpg" alt=""></div>
</div>
