<div class="wrapper">
  <div class="poster-bg" style="background-image: url({{movie.drawings}});" alt=""></div>
  <div class="detail-wrap">
    {{#with movie}}
      <div class="poster"><img src="{{poster}}" alt=""></div>
      <div class="detail">
        <p title="年份：{{year}}">{{year}}</p>
        <h2 title="{{title}}">{{title}}</h2>
        <p title="译名：{{transname}}">{{transname}}</p>
        <p><span title="国家：{{country}}">{{country}}</span><span title="片长：{{long}}">{{long}} mins</span></p>
        <p>{{> movie_class}}</p>
        <div class="detail-other clear">
          <div class="summary">
            <div class="summary-text" title="{{summary}}">{{summary}}</div>
            <div class="control">
              <a class="addtolist" href="javascript:;"><i class="iconfont icon-add"></i>Add to List</a>
              <a class="addtoplay" href="javascript:;"><i class="iconfont icon-play"></i>Play</a>
            </div>
          </div>
          <div class="other">
            <h4>信息</h4>
            <p title="{{language}}"><label>语言：</label><span class="other-label">{{language}}</span></p>
            <p title="{{doctor}}"><label>导演：</label><span class="other-label">{{doctor}}</span></p>
            <p title="{{actor}}"><label>主演：</label><span class="other-label">{{actor}}</span></p>
          </div>
        </div>
        <p>视频地址：{{flash}}</p>
        <p>上传者：{{uploader}}</p>
        <p>创建时间：{{formatDate meta.createAt}}</p>
      </div>
    {{/with}}
  </div>
  {{!-- <p><a href="/admin/post/{{movie._id}}">编辑</a></p> --}}
</div>
